@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

:root {
  /* Base font size */
  /* font-size: 10px; */

  /* Set neon color */
  --neon-text-color: #f40;
  --neon-text-color2: #44D62C;
  --neon-border-color: #08f;
  --neon-text-color3: #fff71e;
  --color2: white;
}

body {
  background-image: url("../../src/img/indexbg.png");
  /* background-image: url("https://i.pinimg.com/originals/f0/97/86/f09786a85aa32fa2690354e68ae724bf.png"); */
  /* background-color: black; */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

.navbar-dark .groupname {
  margin-left: 8vmin;
  margin-top: 5vmin;
  color: white;
  font-size: 5vmin;
  font-weight: bold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  text-shadow: -0.2rem -0.2rem 1rem rgb(90, 90, 90), 0.2rem 0.2rem 1rem #fff,
    0 0 10rem rgba(9, 0, 250, 0.80), 0 0 0.2rem #cc43ba,
    0 0 0.2rem rgba(9, 0, 250, 0.80), 0 0 0.4rem #cc43ba,
    0 0 1rem rgba(9, 0, 250, 0.80);

}

.main-text {
  display: flex;
  margin-left: 15vmin;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
}

.main-text h1 {
  font-family: 'Fugaz One', cursive;
  align-content: center;
  color: white;
  font-size: 8vmin;
  /* text-shadow: 2px 6px 1px rgba(13, 255, 207, 1), -5px 4px 1px #cc43ba; */
  text-shadow: 0.1vmin 0.1vmin 0.5vmin rgba(255, 255, 255, 1),0.1vmin 0.6vmin 0.1vmin rgba(13, 255, 207, 1), -0.5vmin 0.5vmin 0.1vmin #cc43ba;
  animation: lightSpeedInLeft .8s,flash1 5s infinite alternate;
}

.main-text h3 {
  margin-top: 1vmin;
  align-content: center;
  color: gray;
  font-size: 2.3vmin;
  animation-duration: .8s;
  animation-delay: .8s;
  text-shadow: 3px 3px 3px black;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: rgb(0, 38, 125, 0.1) !important;
  border: solid 0.1vmin rgb(0, 38, 125, 0.1);
  border-radius: 5vmin; 
}

.btn-primary:hover {
  animation: scaling .3s steps(20) forwards ,flicker3 3.5s infinite alternate;
}

.main-text a {
  margin-top: 7vmin;
  padding: 1.9vmin;
  font-size: 3.0vmin;
  font-weight: bold;
  animation: fadeInBut 1s steps(100) forwards ,flickerfooter2 3s infinite alternate;
  /* box-shadow: 0px 0px 28px rgba(9, 0, 250, 0.80), 5px 5px 10px 1px #bb557b; */
  box-shadow: 0px 0px 2vmin 0.2vmin rgba(9, 0, 250, 0.80), 0.5vmin 0.5vmin 1vmin 0.01vmin #bb557b;
}

/**************************/

.neon {
  animation: flicker 1.5s infinite alternate;
}

.member {
  position: absolute;
  /* height: 20vh; */
  top: 2vh;

  margin-top: 0;
  font-size: 5rem;
  font-weight: 1;
  font-style: italic;
  color: #fff;
  padding: 4rem 10rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-align: center;
  align-content: center;
}

.neon::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon:focus {
  outline: none;
}

@keyframes flicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@keyframes flickerfooter {

  0%,
  19%,
  29%,
  54%,
  76%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 1rem var(--neon-text-color), 0 0 0.2rem var(--neon-text-color),
      0 0 0.2rem var(--neon-text-color), 0 0 0.4rem var(--neon-text-color),
      0 0 1rem var(--neon-text-color);

    /* box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
        0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
        0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color); */
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@keyframes flickerfooter2 {
  0%,
  76%
   {
    color : var(--neon-text-color);
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 1rem var(--neon-text-color), 0 0 0.2rem var(--neon-text-color),
      0 0 0.2rem var(--neon-text-color), 0 0 0.4rem var(--neon-text-color),
      0 0 1rem var(--neon-text-color);
      transform: scale(1.1);
  }

  50%,
  69%,
  95%,
  100% {
    transform: scale(1.0);
    color: rgb(255, 255, 255);
    text-shadow: 0.1vmin 0.1vmin 0.5vmin rgba(255, 255, 255, 0.8);
  }
}

@keyframes flickerfooter3 {

  0%,
  19%,
  29%,
  54%,
  76%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 1rem var(--neon-text-color), 0 0 0.2rem var(--neon-text-color),
      0 0 0.2rem var(--neon-text-color), 0 0 0.4rem var(--neon-text-color),
      0 0 1rem var(--neon-text-color);

    /* box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
        0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
        0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color); */
  }

  52%,
  59% {
    text-shadow: none;
    box-shadow: none;
  }
}


.footer {
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-align: right;
}

.neonfooter:hover {
  animation: flickerfooter 1.5s infinite alternate;
}

.neonfooter::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neonfooter::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neonfooter:focus {
  outline: none;
}

@keyframes flicker2 {

  0%,
  19%,
  29%,
  54%,
  76%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 1rem var(--neon-text-color), 0 0 0.2rem var(--neon-text-color),
      0 0 0.2rem var(--neon-text-color), 0 0 0.4rem var(--neon-text-color),
      0 0 1rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@keyframes flicker3 {
  0%,
  19%,
  29%,
  54%,
  76%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 1rem var(--neon-text-color2), 0 0 0.2rem var(--neon-text-color2),
      0 0 0.2rem var(--neon-text-color2), 0 0 0.4rem var(--neon-text-color2),
      0 0 1rem var(--neon-text-color2);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  25% {
    text-shadow: none;
    box-shadow: none;
  }
}




.neon2:hover {
  animation: flicker3 1.5s infinite alternate;
}

.neon2::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon2::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon2:focus {
  outline: none;
}

@keyframes scaling {
  from { transform: scale(1.0); }
  to { transform: scale(0.85); }
}
@keyframes fadeInBut {
  from { opacity: 0%; transform: scale(0.85); }
  to { opacity: 100%; transform: scale(1.0); }
}

@keyframes flash1 {
  0%,
  48%,
  52%,
  56% {
    opacity: 100%;
  }

  50%,
  54% {
    opacity: 0%;
  }
}
